# =========================
# Python / FastAPI
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/
.venv/

# Environment Variables
.env
.env.*

# Logs
*.log

# Database
*.db
*.sqlite3

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# VS Code
.vscode/

# JetBrains
.idea/

# =========================
# Node / React / Vite
# =========================
node_modules/

dist/
build/

# npm/yarn logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vite
.vite/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Uploads
# =========================
uploads/
media/
temp/

# =========================
# Secrets
# =========================
*.pem
*.key
*.crt

# =========================
# Misc
# =========================
*.swp
*.swo